<ion-header>
  
    <h1>
        Aplicación de seguimiento de proyectos
    </h1>
  
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <div class="card">
        <h2>Bienvenido al seguimiento de proyectos</h2>
        <p>Utilice el menú de navegación para acceder a diferentes páginas.</p>
        <nav>
            <ul>
                <li><a href="initpage">Inicio de sesión</a></li>
                <li><a href="initpage">Crear Cuenta</a></li>
                <li><a href="initpage">Asosiar empresa</a></li>
            </ul>
        </nav>
    </div>
  </main>
</ion-content>
